html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
#skill1{width: 90%;}
#skill2{width: 80%;}
#skill3{width: 75%;}
#skill4{width: 50%;}
#lang1{height:24px;width:100%}
#lang2{height: 24px;width: 55%;}
#lang3{height: 24px;width: 25%;}